.fundSection {
  background: var(--cor-secundaria-azul);
  height: 774px;
  margin-bottom: -360px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.numbers {
  max-width: 1260px;
  margin: 0 auto;
  padding: 6em 0;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.dataNumbers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--cor-primaria-verde);
  margin-bottom: 0.1em;
}

.edgeNumbers {
  width: 33px;
  height: 4px;
  background-color: var(--cor-primaria-verde);
  border-radius: 50px;
  margin-bottom: 1.4em;
}

.dataText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--cor-branca);
}

.dataSubtext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #777f8d;
}

.subtext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor-primaria-verde);
  margin-left: -5px;
}
