.headerContainer {
  background-image: url('../../assets/banner.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-color: var(--blue-secondary);
}

.externalMain {
  max-width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 2em;
}

.main img {
  width: 200px;
  height: 50px;
}

.imgMain:hover {
  cursor: pointer;
}

.containerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.liMain {
  list-style: none;
  display: flex;
  gap: 2em;
}

.liMain a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
}

.linkMain:hover {
  color: var(--green-primary);
  border-bottom: 2px solid var(--green-primary);
  transition: 0.4s;
}

.btnLogin {
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  width: 150px;
  height: 45px;
  border: 2px solid var(--green-primary);
  border-radius: 50px;
}

.btnLogin:hover {
  background-color: var(--white);
  color: var(--green-primary);
  font-weight: 800;
  cursor: pointer;
  transition: 0.4s;
}

.btnNow {
  background-color: var(--green-primary);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  width: 180px;
  height: 45px;
  border-radius: 50px;
  margin-left: 1em;
}

.btnNow:hover {
  background-color: var(--white);
  border: 2px solid var(--green-primary);
  color: var(--green-primary);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
}

.btnCheck {
  font-size: 40px;
  color: antiquewhite;
  display: none;
}

#check {
  display: none;
}

.banner {
  max-width: 1260px;
  margin-left: 5em;
  position: absolute;
  top: 40%;
}

.banner h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 0.5em;
}

.btnMoreBanner {
  background-color: var(--green-primary);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  width: 180px;
  height: 45px;
  border-radius: 50px;
}

.btnMoreBanner:hover {
  background-color: transparent;
  border: 2px var(--green-primary) solid;
  color: var(--green-primary);
  font-weight: 800;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (max-width: 360px), screen and (max-height: 740px) {
  .headerContainer {
    background-size: auto;
    background-position: center;
    height: 650px;
    width: 1189px;
    margin-bottom: 2em;
  }

  .main img {
    width: 280px;
    height: 60px;
  }

  .externalMain {
    margin: 0 5em;
    max-width: 1020px;
  }

  .containerMain {
    gap: 3em;
  }

  .linkMain {
    display: none;
  }

  .btnLogin {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    width: 130px;
    height: 40px;
  }

  .btnNow {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    width: 155px;
    height: 40px;
    margin-left: 1.5em;
  }

  .btnCheck {
    display: block;
  }

  .banner {
    margin: auto;
    top: 30%;
  }

  .banner h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 0 0.8em 0.5em;
    width: 70vh;
  }

  .btnMoreBanner {
    margin-left: 1.5em;
  }
}
