.section-sobre-empresa {
  display: flex;
}

.bg-sobre-empresa {
  width: 50%;
}

.conteudo-sobre-empresa {
  margin: auto 0;
  padding-left: 5em;
}

p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.button-saber-mais {
  width: 160px;
  height: 51.08px;
  background: var(--cor-primaria-verde);
  border-radius: 30px;
  border: none;
  color: var(--cor-branca);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button-saber-mais:hover {
  background-color: var(--cor-secundaria-azul);
  color: var(--cor-primaria-verde);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
}

.letra-a-sobre-empresa {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: var(--cor-primaria-verde);
}

.h2-sobre-empresa {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: var(--cor-secundaria-azul);
  margin-bottom: 0.5em;
}

.h2-sobre-empresa::before {
  content: '';
  display: inline-block;
  border: 4px solid var(--cor-primaria-verde);
  width: 11px;
  height: 11px;
  margin: 0 10px 7px 0;
}

.paragrafo-sobre-empresa {
  width: 498px;
  margin-bottom: 3.5em;
}
